<button type="button" class="btn btn-primary">Pending</button><br>

<small class="text-muted">Your connection request has been sent, but it is in a pending state. You will get connected once <span class="fw-bold"><%= connector.name %>
</span> accepts your connection request.</small><br>